<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yesterday's data load status: </h1>
    <table>
      <tr>
        <th>Data</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
      <% @statuses.each do |status| %>
        <tr>
          <td><%= status.type %></td>
          <td><%= status.updated_at %>
          <td><%= status.status %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
