<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>AgWeather status (<%= Rails.env %>)</h3>
    <pre>
<% @statuses.each do |status| %>
<%= status %>
<% end %>
    </pre>
  </body>
</html>
