<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>AgWeather <%= Rails.env %> status</h2>
    <p><b>Data load messages:</b></p>
    <pre>
    <% @statuses.each do |status| %>
    <%= status %>
    <% end %>
    </pre>
  </body>
</html>
