<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>AgWeather problem on <%= ENV["SERVER_ROLE"] %> (<%= ENV["AG_WEATHER_HOST"] %>)</h3>
    <p>Messages for <%= Time.current %>:</p>
    <pre>
<% @statuses.each do |status| %>
<%= status %>
<% end %>
    </pre>
  </body>
</html>
